*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-container{
    background-color: greenyellow;
}
.Title{
    color: rgb(92, 119, 50);
}
.book-section{
    background-color: brown;
    padding: 1rem;
    
}

.book-section-container{
    
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 20%);
    
}
.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.input{
    margin-top: 10px;

}
.x:hover{
    cursor: pointer;
}